$color-primary: #39375b;
$color-secondary: #745c97;
$color-light: #f5b0cb;
$color-black: #141413;
$color-white: #ffffff;
$color-gray-light: #c4bbb8;
$color-gray: #b0bbbf;
$color-gray-dark: #565656;
$color-danger: #ff4a1c;
$color-warning: #e89005;
$color-success: #b2ffa9;
$color-info: #8ef9f3;
